@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(/images/bg-intro-mobile.png);
  background-color: var(--Red);
  background-size: cover;
  background-repeat: no-repeat;
}
section {
  max-width: 144rem;
  width: 375px;
  padding: 3rem;
  margin: 2rem auto;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

h1,
p {
  text-align: center;
  color: white;

  line-height: 2rem;
}
h1 {
  font-weight: 700;
}
p {
  color: rgb(232, 223, 223);
  line-height: 2rem;
  font-weight: 500;
  padding-top: 2em;
}
.form_card {
  padding-block: 1.5rem;
}
.form {
  background-color: var(--Blue);
  color: var(--Grayish-Blue);
  width: 20.75rem;
  height: 5.1rem;
  padding-inline: 5.25rem;
}
.try {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: white;
}
.form_container {
  width: 20.75rem;
  height: 28.438rem;
  padding-top: 1.875rem;
  background-color: white;
  border-radius: 9px;
  border: none;
  box-shadow: 0 0.5rem rgba(62, 60, 73, 0.3);
}
input {
  width: 16.938rem;
  height: 3.375rem;
  padding-left: 0.5rem;
  color: var(--Dark-Blue);
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.75rem;
}
.btn {
  border-radius: 10px;
  border: none;
}
.primary {
  width: 17.375rem;
  height: 3.5rem;
  padding-inline: 1.563rem;
  background-color: var(--Green);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
}
.submit {
  padding-inline: 1.563rem;
}
h2 {
  font-size: 12px;
  text-align: center;
  padding-inline: 2.375rem;
  padding-top: 0.5rem;
  color: var(--Grayish-Blue);
}
.terms {
  color: hsl(0, 58%, 59%);
  font-weight: 900;
}
@media (min-width: 600px) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
    background-color: var(--Red);
    background-size: cover;
    background-repeat: no-repeat;
  }
  section {
    display: flex;
    flex-direction: row;
    width: 57.5rem;
    /* height: 36.875rem; */
  }
  h1,
  p {
    text-align: left;
  }
  h1 {
    padding-right: 22px;
    font-size: 50px;
    line-height: 64px;
    font-weight: 900;
  }
  p {
    padding-right: 37px;
  }
  .right_grid{
    width: 77.875rem;
  }
  .form_container{
   width:auto;
   box-shadow: none; 
  }
  .btn {
    border-radius: 10px;
    border: none;
    width: 100%;
    box-shadow: 0 0.5rem rgba(62, 60, 73, 0.3);
}
input{
    width: 22.938rem;
}
form{
    width: auto;
}
.primary{
    display: flex;
    align-items: center;
    justify-content: center;
}
}
